@media only screen and (max-width:480px){
/*   ==== header section =====*/
    nav {
        display: none;
    }
    header h1{
        font-size: 24px;
        margin: 30% 0 0 5%;
    }
    header img{
        height:100px;
        margin-left: 5%;
    }
/*  ===== reusables ======  */
    .info{
        text-indent: 20px;
        text-align: justify;
        margin: 0 5%;
        line-height: 200%;
        
        
    }
    
/*    ====== where we started =====*/
    .intro .info{
        width: 95%;
        padding: 0 5% 0 0;
        margin-top: 0;
        
        margin-right: 0;
        
        
    }
    .intro__img{
       display: block;
        width: 90%;
        margin-top: 5%;
        height: 300px;
        margin-right: 5%;
        
    }
    
    .intro__img img{
        width:100%;
        display: block;
        border:none;
        border-radius: 0;
        height: 100%;
        box-shadow: 0 2px 5px 5px black; 

    }
    .intro__img sub{
        display: none;
    }
}