html{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
body{
    font-family: nunito, sans-serif;
}
*{
   margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/*==== reusables =====*/
.row{
    max-width: 1100px;
    margin: 0 auto;
}
.section{
    padding:20px 0;
}
h2{
    word-spacing: 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding:30px 0;
    text-align: center;
    font-weight: 300;
    font-size: 200%;
}
h2:after{
    content: "";
    display: block;
    width:50%;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.info{
        text-indent: 20px;
        text-align: center;
    line-height: 300%;
    letter-spacing: 1px; 
    margin-top : 40px;
    }

.clear{
  clear: both;
}
/*=== the landing site =====*/
header {
    
    height: 100vh;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,.1)),to(rgba(0,0,0,.8))),url(img/dry-cleaning-hornsby.jpg);
    background-image:linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,.8)),url(img/dry-cleaning-hornsby.jpg);
    background-size: cover;
    width: auto;
    background-attachment: fixed;

 
}

header img{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin: 0 0 50px 0;
    border-radius: 25%;
  
    
}
header nav{
    float: right;
    font-size: 130%;
    font-weight: 300;
    width:60%; 
/*

*/

}
header nav ul{
    
    list-style: none;
    margin: 70px auto;
    padding:10px 20px;
    width: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
   
    
}
header nav a:link,
header nav a:visited{
    
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding:1px 5px;  
}
header nav li{
    position: relative;
display: inline-block;
margin-right:20px;
    z-index: 7;
    transform-style: preserve-3d;
   

}
header nav li a:after{
    position: absolute;
    content: attr(data-title);
    display: block;
    background-color: blue;
    color: transparent;
    -webkit-transform:  rotateX(-120deg);
            transform:  rotateX(-120deg) translate3d(0,150%,0);
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease; 
    -webkit-transform-style: preserve-3d; 
            transform-style: preserve-3d;
    z-index: -1;
    top: 0;
    left: 2px;
    padding: 3px;
    border-radius: 5px;
/*    need to fix issue with border appearing. it seems preserve 3d isn't working. don't know why. also need to figure out issue with z-index. */
   
    
    
    
}

header nav li a:hover:after{
    -webkit-transform: rotateX(0deg) translateZ(0px);
            transform: rotateX(0deg) translateZ(0px);    
}

/*
header nav a:hover{
border-bottom: 2px solid white;
}
*/
header h1{
    font-family: nunito,serif;
    margin: 20% 0 0 0;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 200;
    line-height: 145%;   
}

/*==== where we started section =======*/

.intro .info{
  margin: 5% 0;
}

.intro__img{ 
    display: inline-block;
    width: 30%;
    margin:13% 1.5%;  
}
.intro__img img{
    width:100%;
    border-radius: 25px;
    display: block;
    height:250px; 
    text-align: right;
}
.intro__img sub{
    font-size:10px;
    margin:30%;  
}
/*===== Our Process Section =======*/
.process{
    clear: both;
   background-color: rgb(227, 227, 227);
    overflow: hidden;
    
}
.process p{
    margin-top: 0;
}
.process__cards{
    margin-top: 100px;
    margin-bottom: 40px;
    overflow: hidden;
}
.process__card{
    width:35%;
    display:block;
    float: left;  
    margin:20px 7.5%;
    height: 500px;  
    overflow: hidden;
    border-radius: 50px;
    background-color: rgb(227, 227, 227);
     
}
.process__img:hover{
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}
.process__img{
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    width:90%;
    height: 250px; 
   border-radius: 50%;
    margin-left:5%;
    margin-top: 1%;
    
}
.process__step{
    width: 100%;
    display: block;
    margin: 10px 0;
   
    text-align: center;
    color:#001628;
    font-weight: 400;
    text-transform: uppercase;
  
}
.process__step:after{
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: black;
    margin: 10px auto;
}
.process__detail{
    text-align: center;
    padding: 0 5%;
    line-height: 2;
}
/*==== Our Products section ======*/
.showcase-section{
    background-color: rgb(227, 227, 227);
    overflow: hidden;
}
.showcase{
    overflow:hidden;
    list-style: none;
    margin: 0;
    padding: 0 5%;
    text-align: center;
    margin:0 auto ;
}
.showcase li{
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    width:25%;
    
    float: left;
}
.showcase a{
    margin: 0;
    padding: 0;
    
}


.showcase img{
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
    -webkit-transition:opacity 1s ;
    transition:opacity 1s ;
}

.showcase img:hover{
    opacity: .7;
}
/*=== why we are better section ====*/
.betterness{
    color: white;
    margin:0;
   
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6))),url("img/maxresdefault.jpg") ;
   
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("img/maxresdefault.jpg") ;
    background-size: cover;
    background-attachment: fixed;
}
.betterness .info:last-child{
    margin-bottom: 5%;
}
.betterness h2:after{
    content: "";
    display: block;
    width:50%;
    height: 2px;
    background-color: white;
    margin: 20px auto;
}
.reason{
    display: inline-block;
    width: 49%;
    height:300px;
    vertical-align: top; 
    margin: 5% 0;
    
}
.reason i{
    font-size: 80px;
    width: 100%;
    text-align: center; 
    
}
.reason h3{
    line-height: 2;
    text-align: center;
    margin : 3% 0;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.reason h3:after{
    content: "";
    display: block;
    width:50%;
    height: 3px;
    background-color: white;
    margin: 0 auto;
}
.reason__info{
    width: 50%;
    margin:0 auto;
    line-height: 2;
   
}
