
body{
    font-family: nunito, sans-serif;
}
*{
   margin:0;
    padding:0;
    box-sizing: border-box;
}
/*==== reusables =====*/
.row{
    max-width: 1100px;
    margin: 0 auto;
}
h2{
    word-spacing: 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 30px 0;
    text-align: center;
    font-weight: 300;
    font-size: 200%;
}
h2:after{
    content: "";
    display: block;
    width:50%;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

.info{
        text-indent: 20px;
        text-align: justify;
    line-height: 200%;
    letter-spacing: 1px;
        
    }
/*=== the landing site =====*/
header {
    
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9)),url(img/dry-cleaning-hornsby.jpg);
    background-size: cover;
    width: auto;
 
}

header img{
    box-sizing: content-box;
    margin: 0 0 50px 0;
    background-color:rgba(204, 166, 127, 0.74);
    opacity: .8;
    box-shadow: 0 0 5px rgba(204, 166, 127, 0.74), 0 5px 8px rgba(204, 166, 127, 0.74);
    border-radius: 25%;
  
    
}
header nav{
    float: right;
    font-size: 130%;
    font-weight: 700;
}
header nav ul{
    list-style: none;
    margin-top: 20px;
}
header nav a:link,
header nav a:visited{
    text-decoration: none;
    color: white;
    font-size: 120%;
    font-weight: 300;
    border-bottom: 2px solid white;
    transition:border-bottom .5s,color .5s;
}
header nav a:hover{
border-bottom: 2px solid black;
color:white;
}
header nav li{
display: inline;
margin-right: 20px;
}
header nav li:last-child{
    margin-right: 0;
}
header h1{
    font-family: nunito,serif;
    margin: 20% 0 0 0;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 200;
    line-height: 145%;
    color: white;
    
    
}

/*==== where we started section =======*/
.intro{}
.intro .info{
  display: inline-block;
  width: 65%;
  margin: 0 auto;
}

.intro__img{ 
    float: right;
    margin-bottom: 50px;
}
.intro__img img{
    border: 2px solid black;
    border-radius: 25px;
    display: block;
    height:250px;
    width:auto;
    text-align: right;
}
.intro__img sub{
    font-size:10px;
    padding-left: 35%;
}
/*===== Our Process Section =======*/
.process{
    clear: both;
}

/*=== why we are better section ====*/
/*==== Our Products section ======*/
.showcase{
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    text-align: center;
    margin:0 auto ;
    
    
}
.showcase li{
    padding: 0;
    margin: 0 ;
    display: inline-block;
    margin: 0 auto;
    height:150px;
    width:25%;
    overflow: hidden;
    float: left;
    
}
.showcase a{
    margin: 0;
    padding: 0;
}


.showcase img{
    transform: scale(1.15);
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
    opacity: .6;
    transition:transform 1s ;
}
.showcase img:hover{
   transform: scale(1);
    opacity: 1;
}
