
body{
    font-family: nunito, sans-serif;
}
*{
   margin:0;
    padding:0;
    box-sizing: border-box;
}
/*==== reusables =====*/
.row{
    max-width: 1100px;
    margin: 0 auto;
}
h2{
    word-spacing: 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 30px 0;
    text-align: center;
    font-weight: 300;
    font-size: 200%;
}
h2:after{
    content: "";
    display: block;
    width:50%;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.info{
        text-indent: 20px;
        text-align: justify;
    line-height: 300%;
    letter-spacing: 1px; 
    margin-top : 40px;
    }

.clear{
  clear: both;
}
/*=== the landing site =====*/
header {
    
    height: 100vh;
    background-image:linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,.8)),url(img/dry-cleaning-hornsby.jpg);
    background-size: cover;
    width: auto;
 
}

header img{
    box-sizing: content-box;
    margin: 0 0 50px 0;
/*    background-color:rgba(204, 166, 127, 0.74);*/
/*    opacity: 1;*/
/*    box-shadow: 0 0 5px rgba(204, 166, 127, 0.74), 0 5px 8px rgba(204, 166, 127, 0.74);*/
    border-radius: 25%;
  
    
}
header nav{
    float: right;
    font-size: 160%;
    font-weight: 400;
}
header nav ul{
    list-style: none;
    margin-top: 70px;
}
header nav a:link,
header nav a:visited{
    text-decoration: none;
    color: black; 
    border-bottom: 2px solid transparent;
    transition:border-bottom .5s,color .5s;
}
header nav li{
display: inline;
margin-right: 20px;
}
header nav li:last-child{
    margin-right: 0;
}
header nav li:first-child a{
    color:white;
}
header nav a:hover{
border-bottom: 2px solid white;
color:white;
}
header h1{
    font-family: nunito,serif;
    margin: 20% 0 0 0;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 200;
    line-height: 145%;
    color: black;
    
    
}

/*==== where we started section =======*/
.intro{}
.intro .info{
  display: inline-block;
  width: 100%;
  margin-top: 5%;
    
    
}

.intro__img{ 
    display: inline-block;
    width: 30%;
    margin:50px 1.5%;
    
    
    
   
}
.intro__img img{
    width:100%;
    /* border: 2px solid black; */
    border-radius: 25px;
    display: block;
    height:250px;
   
    text-align: right;
    /* box-shadow: 0 0 10px 2px black;  */
}
.intro__img sub{
    font-size:10px;
    margin:30%;
    
}
/*===== Our Process Section =======*/
.process{
    clear: both;
   
    
}
.process__cards{
    margin-top: 100px;
    margin-bottom: 40px;
}
.process__card{
    width:30%;
    display:block;
    float: left;
    
    margin:20px 10%;
    height: 500px;  
    overflow: hidden;
    border-radius: 50px;
    background-color: #FFFFFF;
   
    transition: transform .3s;
    
}
.process__card:hover{
    transform: scale(1.03);
}
.process__img{
    width:100%;
    height: 250px; 
   border-radius: 50%;
}
.process__step{
    width: 100%;
    display: block;
    margin: 10px 0;
   
    text-align: center;
    color:#001628;
    font-weight: 400;
    text-transform: uppercase;
  
}
.process__step:after{
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: black;
    margin: 10px auto;
}
.process__detail{
    text-align: center;
    padding: 0 5%;
}



/*=== why we are better section ====*/
/*==== Our Products section ======*/
.showcase{
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    text-align: center;
    margin:0 auto ;
    
    
}
.showcase li{
    padding: 0;
    margin: 0 ;
    display: inline-block;
    margin: 0 auto;
    height:150px;
    width:25%;
    overflow: hidden;
    float: left;
    
}
.showcase a{
    margin: 0;
    padding: 0;
}


.showcase img{
    transform: scale(1.15);
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
    opacity: .6;
    transition:transform 1s ;
}
.showcase img:hover{
   transform: scale(1);
    opacity: 1;
}
